pathlib==1.0.1
django-mptt==0.9.0

# django-webtest
django-webtest==1.9.3
beautifulsoup4==4.6.0
cssselect==1.0.3
lxml==4.2.2
pyquery==1.4.0
selenium==3.13.0
waitress==1.1.0
WebOb==1.8.2
WebTest==2.0.30
