{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "rules": {
        "arrow-parens": 0,
        "brace-style": 0,
        "camelcase": 0,
        "comma-dangle": 0,
        "default-case": 0,
        "func-names": 0,
        "id-length": 0,
        "indent": 0,
        "max-len": 0,
        "new-cap": 0,
        "no-console": 0,
        "no-else-return": 0,
        "no-use-before-define": 0,
        "one-var": 0,
        "react/jsx-boolean-value": 0,
        "react/no-multi-comp": 0,
        "react/sort-comp": 0,
        "quotes": [2, "double", "avoid-escape"],
        "space-before-function-paren": 0
    }
}
