@import "node_modules/jqtree/jqtree";

#changelist {
    border: none;
}
#tree {
    padding: 1em 0 1em 0;

    .mptt-admin-error {
        color: red;
        margin-left: 8px;
    }

    ul.jqtree-tree {
        .jqtree-toggler {
            top: 10%;
        }

        .edit {
            margin-left: 0.5em;
            vertical-align: middle;
        }

        ul.jqtree_common {
            margin-top: 0;
        }

        li.jqtree_common {
            padding: 0;
        }

        &.jqtree-rtl {
            .edit {
                margin-left: 0;
                margin-right: 0.5em;
            }
        }
    }

    &.block-style {
        ul.jqtree-tree {
            margin-left: 0;
            margin-right: 0;

            ul.jqtree_common {
                margin-left: 2em;
            }

            .jqtree-element {
                margin-bottom: 8px;
                background-color: #eee;
                padding: 8px;

                .jqtree-title {
                    margin-left: 0;
                    margin-right: 0;
                }

                .jqtree-toggler.jqtree-toggler-right {
                    margin-left: 1em;
                }
            }

            li.jqtree-selected > .jqtree-element {
                background: #79aec8;
                text-shadow: none;

                .jqtree-title {
                    color: #fff;
                }

                .edit {
                    color: #c4dce8;
                }
            }

            &.jqtree-rtl {
                ul.jqtree_common {
                    margin-left: 0;
                    margin-right: 2em;
                }

                .jqtree-toggler.jqtree-toggler-right {
                    margin-left: 0;
                    margin-right: 1em;
                }
            }
        }
    }
}
