*.pyc
.coverage
.DS_Store
.ruff_cache/
.vscode
build/
coverage/node_modules/
dist/
django_mptt_admin.egg-info/
django_mptt_admin/static/django_mptt_admin/django_mptt_admin.coverage.js
django_mptt_admin/static/django_mptt_admin/django_mptt_admin.coverage.js.map
example_project/static/
frontend/coverage/
frontend/mise.toml
frontend/node_modules/
js_coverage/
node_modules/
site/
venv.txt