{% extends 'admin/change_list.html' %}
{% load admin_static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "django_mptt_admin/css/jqtree.css" %}">
    <link rel="stylesheet" href="{% static "django_mptt_admin/css/django_mptt_admin.css" %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script>
        this.jQuery = django.jQuery;
    </script>
    <script src="{% static "django_mptt_admin/js/jquery.cookie.js" %}"></script>
    <script src="{% static "django_mptt_admin/js/tree.jquery.js" %}"></script>
    <script src="{% static "django_mptt_admin/js/django_mptt_admin.js" %}"></script>
    <script>
        jQuery(function() {
            var tree_data = {{ tree_data|safe }};

            initTree(jQuery('#tree'), tree_data);
        });
    </script>
{% endblock %}

{% block search %}{% endblock %}

{% block result_list %}
    <div id="tree"></div>
{% endblock %}

{% block pagination %}{{ cl.query_set.count }} {{ cl.opts.verbose_name_plural }}{% endblock %}