{% extends 'admin/change_list.html' %}
{% load i18n %}
{% load staticfiles %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'django_mptt_admin/jqtree/jqtree.css' %}">
    <link rel="stylesheet" href="{% static 'django_mptt_admin/django_mptt_admin.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <!--[if lt IE 9]>
        <script src="{% static 'django_mptt_admin/jquery-legacy/dist/jquery.min.js' %}"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
        <script src="{% static 'django_mptt_admin/jquery/dist/jquery.min.js' %}"></script>
    <!--<![endif]-->
    <script src="{% static 'django_mptt_admin/jquery-cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'django_mptt_admin/jqtree/tree.jquery.js' %}"></script>
    <script src="{% static 'django_mptt_admin/django_mptt_admin.js' %}"></script>
{% endblock %}

{% block search %}{% endblock %}

{% block result_list %}
    <div
        id="tree"
        class="block-style"
        data-url="{{ tree_json_url }}"
        data-save_state="{{ app_label }}_{{ model_name }}"
        data-auto_open="{{ tree_auto_open }}"
        data-autoescape="{{ autoescape }}"
        data-label-edit="{% trans "edit" %}"
        data-label-move-failed="{% trans "move failed" %}"
        data-label-error="{% trans "Error while loading the data from the server" %}"
        {% if LANGUAGE_BIDI %}
            data-rtl
        {% endif %}
        data-use_context_menu="{{ use_context_menu }}"
    ></div>
{% endblock %}

{% block pagination %}{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{{ grid_url }}">{% trans "Grid view" %}</a>
    </li>
{% endblock %}
