ul.html-tree {
  list-style: none outside;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  &.html-tree-dnd {
    touch-action: none;
  }
  ul.html-tree-common {
    list-style: none outside;
    margin-left: 12px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    display: block;
  }
  li.html-tree-closed > ul.html-tree-common {
    display: none;
  }
  li.html-tree-common {
    clear: both;
    list-style-type: none;
  }
  .html-tree-toggler {
    border-bottom: none;
    color: #333;
    text-decoration: none;
    vertical-align: middle;
    &:hover {
      color: #000;
      text-decoration: none;
    }
    &.html-tree-closed {
      background-position: 0 0;
    }
    &.html-tree-toggler-left {
      margin-right: 0.5em;
    }
    &.html-tree-toggler-right {
      margin-left: 0.5em;
    }
  }
  .html-tree-element {
    cursor: pointer;
    position: relative;
    display: flex;
    &:has(.html-tree-title-button-right) {
      display: block;
    }
  }
  .html-tree-title {
    color: #1c4257;
    vertical-align: middle;
  }
  .html-tree-title-button-left {
    margin-left: 1.5em;
    &.html-tree-title-folder {
      margin-left: 0;
    }
  }
  li.html-tree-folder {
    margin-bottom: 4px;
    &.html-tree-closed {
      margin-bottom: 1px;
    }
  }
  li.html-tree-ghost {
    position: relative;
    z-index: 10;
    margin-right: 10px;
    span {
      display: block;
    }
    span.html-tree-circle {
      border: solid 2px #0000ff;
      border-radius: 100px;
      height: 8px;
      width: 8px;
      position: absolute;
      top: -4px;
      left: -6px;
      box-sizing: border-box;
    }
    span.html-tree-line {
      background-color: #0000ff;
      height: 2px;
      padding: 0;
      position: absolute;
      top: -1px;
      left: 2px;
      width: 100%;
    }
    &.html-tree-inside {
      margin-left: 48px;
    }
  }
  span.html-tree-border {
    position: absolute;
    display: block;
    left: -2px;
    top: 0;
    border: solid 2px #0000ff;
    border-radius: 6px;
    margin: 0;
    box-sizing: content-box;
  }
  li.html-tree-selected > .html-tree-element,
  li.html-tree-selected > .html-tree-element:hover {
    background-color: #97bdd6;
    background: linear-gradient(#bee0f5, #89afca);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  }
  .html-tree-moving > .html-tree-element .html-tree-title {
    outline: dashed 1px #0000ff;
  }
}

ul.html-tree.html-tree-rtl {
  direction: rtl;
  ul.html-tree-common {
    margin-left: 0;
    margin-right: 12px;
  }
  .html-tree-toggler {
    margin-left: 0.5em;
    margin-right: 0;
  }
  .html-tree-title {
    margin-left: 0;
    margin-right: 1.5em;
    &.html-tree-title-folder {
      margin-right: 0;
    }
  }
  li.html-tree-ghost {
    margin-right: 0;
    margin-left: 10px;
    span.html-tree-circle {
      right: -6px;
    }
    span.html-tree-line {
      right: 2px;
    }
    &.html-tree-inside {
      margin-left: 0;
      margin-right: 48px;
    }
  }
  span.html-tree-border {
    right: -2px;
  }
}

span.html-tree-dragging {
  color: #fff;
  background: #000;
  opacity: 0.6;
  cursor: pointer;
  padding: 2px 8px;
}


@keyframes jqtree-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#changelist {
  border: none;
}

#tree {
  padding: 1em 0 1em 0;
}
#tree .mptt-admin-error {
  color: var(--error-fg);
  margin-left: 8px;
}
#tree ul.html-tree .html-tree-toggler {
  top: 10%;
  color: var(--link-fg);
  text-decoration: none;
}
#tree ul.html-tree .edit {
  margin-left: 0.5em;
  vertical-align: middle;
  color: var(--link-fg);
}
#tree ul.html-tree ul.html-tree-common {
  margin-top: 0;
}
#tree ul.html-tree li.html-tree-common {
  padding: 0;
}
#tree ul.html-tree.html-tree-rtl .edit {
  margin-left: 0;
  margin-right: 0.5em;
}
#tree .html-tree-spin {
  margin-left: 1em;
  width: 1em;
  height: 1em;
  border: 2px solid var(--body-fg);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: jqtree-spin 1s linear infinite;
  vertical-align: middle;
}
#tree.block-style ul.html-tree {
  margin-left: 0;
  margin-right: 0;
}
#tree.block-style ul.html-tree ul.html-tree-common {
  margin-left: 2em;
}
#tree.block-style ul.html-tree .html-tree-element {
  margin-bottom: 8px;
  background-color: var(--darkened-bg);
  padding: 8px;
}
#tree.block-style ul.html-tree .html-tree-element .html-tree-title {
  color: var(--body-fg);
  margin-left: 0;
  margin-right: 0;
}
#tree.block-style ul.html-tree .html-tree-element .html-tree-toggler.html-tree-toggler-right {
  margin-left: 1em;
}
#tree.block-style ul.html-tree li.html-tree-selected > .html-tree-element {
  background: var(--breadcrumbs-bg);
  color: var(--header-color);
  text-shadow: none;
}
#tree.block-style ul.html-tree li.html-tree-selected > .html-tree-element .html-tree-title {
  color: var(--breadcrumbs-link-fg);
}
#tree.block-style ul.html-tree li.html-tree-selected > .html-tree-element .edit {
  color: var(--breadcrumbs-fg);
}
#tree.block-style ul.html-tree.html-tree-rtl ul.html-tree-common {
  margin-left: 0;
  margin-right: 2em;
}
#tree.block-style ul.html-tree.html-tree-rtl .html-tree-toggler.html-tree-toggler-right {
  margin-left: 0;
  margin-right: 1em;
}

/*# sourceMappingURL=django_mptt_admin.css.map */
