name: Continuous integration

on: [push]

jobs:
  runner-job:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        django: ['2.2.24', '3.1.13', '3.2.8']

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Check out repository code
      uses: actions/checkout@v2
    - name: Cache python packages
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements**.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - name: Cache javascript packages
      uses: actions/cache@v2
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/package.json') }}
        restore-keys: |
         ${{ runner.os }}-yarn-
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install python packages
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install django==${{ matrix.django }}
        pip install -r example_project/requirements_test.txt
        playwright install chromium
        pip install -r example_project/requirements_ci.txt
        pip install -e .
    - name: Run tests
      run: |
        python -Wd example_project/manage.py test django_mptt_example
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PASSWORD: postgres
        POSTGRES_PORT: 5432
    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: '14'
    - name: Setup coverage
      run: |
        cd frontend
        yarn --prefer-offline
        yarn run build
        cd ..
        mkdir js_coverage
    - name: Test with coverage
      run: |
        COVERAGE=true coverage run --source=django_mptt_admin example_project/manage.py test django_mptt_example
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PASSWORD: postgres
        POSTGRES_PORT: 5432
    - uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.6'
    - name: Merge coverage
      run: |
        cd coveralls
        yarn && gem install coveralls-lcov
        yarn run merge_coverage
        coveralls-lcov -v -n coverage/lcov.info > coverage.json
        cd ..
        coverage report
    - name: Upload coverage
      run: |
        coveralls --merge=coveralls/coverage.json
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.github_token }}
        COVERALLS_SERVICE_NAME: github
        COVERALLS_GIT_COMMIT: ${{ github.sha }}
        COVERALLS_GIT_BRANCH: ${{ github.ref }}
        COVERALLS_SERVICE_JOB_ID: ${{ github.run_id }}
