name: Continuous integration

on: [push, pull_request, workflow_dispatch]

jobs:
  runner-job:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Check out repository code
      uses: actions/checkout@v2
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements**.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install -r example_project/requirements_test.txt
        python -m playwright install
        pip install -r example_project/requirements_travis.txt
        pip install -e .
    - name: Test
      run: |
        python -Wd example_project/manage.py test django_mptt_example
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PASSWORD: postgres
        POSTGRES_PORT: 5432
    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: '14'
    - name: Setup coverage
      run: |
        cd frontend && yarn && yarn run build && cd ..
        mkdir js_coverage
    - name: Test with coverage
      run: |
        COVERAGE=true coverage run --source=django_mptt_admin example_project/manage.py test django_mptt_example
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PASSWORD: postgres
        POSTGRES_PORT: 5432
    - uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.6'
    - name: Merge coverage
      run: |
        cd coveralls
        yarn && gem install coveralls-lcov
        yarn run merge_coverage
        coveralls-lcov -v -n coverage/lcov.info > coverage.json
        cd ..
        coverage report
    - name: Upload coverage
      run: |
        coveralls --merge=coveralls/coverage.json
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.github_token }}
        COVERALLS_SERVICE_NAME: github
        COVERALLS_GIT_COMMIT: ${{ github.sha }}
        COVERALLS_GIT_BRANCH: ${{ github.ref }}
        COVERALLS_SERVICE_JOB_ID: ${{ github.run_id }}
