name: Publish docs via GitHub Pages

on:
  push:
    branches:
      - master
      - mkdocs-workflow

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout master
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install python packages
        run: |
          pip install -r requirements_docs.txt

      - name: Run mkdocs
        run: mkdocs gh-deploy --force
